<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">

    <meta name="theme-color" content="#3095E5">

    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}"/>

    <meta name="google-site-verification" content="GWHjW6_xwxmGMNpQOGrEnR6aACwRPbWP9dnzKLT28OA">
    <meta name="msapplication-config" content="none">
    <meta name="msvalidate.01" content="7AAB28C554F0BB48204B90BC910723AE">

    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="manifest" href="{{ '/assets/manifest.webmanifest' | relative_url }}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/css/media.css' | relative_url }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" type="text/javascript" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reading-time/2.0.0/readingTime.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" type="text/javascript" crossorigin="anonymous"></script>

    <script type="text/javascript">
      if (window.matchMedia("(prefers-color-scheme: dark)").media !== "not all") {
        let isImpartial = window.matchMedia("(prefers-color-scheme: no-preference)").matches;
        let isDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        let isLight = window.matchMedia("(prefers-color-scheme: light)").matches;

        if (isDark) { document.documentElement.classList.add("theme-dark"); }
        else if (isLight || isImpartial) { document.documentElement.classList.add("theme-light"); }
      }
      else { document.documentElement.classList.add("theme-light"); }
    </script>

    <script src="https://www.googletagmanager.com/gtag/js?id=UA-148181092-1" type="text/javascript" rel="preconnect" async></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag("js", new Date());
      gtag("config", "UA-148181092-1");
    </script>
  </head>

  <body>
    {% include header.html %}
    <div class="body-content" id="main">{{ content }}</div>
    {% include sidebar.html %}
    {% include footer.html %}

    <script src="{{ '/assets/js/main.js' | relative_url }}" type="text/javascript"></script>
  </body>
</html>
