---
title: page.title
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="post-wrapper">
        <article class="post full-spread">
          <div class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>

            <div class="post-metadata">
              <p class="post-date">{{ page.date | date: "%B %e, %Y" }}</p>
            </div> 
          </div>
          <div class="post-body">
            <div class="post-content">
              {{ content | markdownify }}
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="related-posts">
        <h4 class="list-title">Related Articles</h4>

        {% assign maxRelated = 4 %}
        {% assign minCommonTags =  2 %}
        {% assign maxRelatedCounter = 0 %}

        {% for post in site.posts %}
          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}

          {% for tag in post.tags %}
            {% if post.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %}
                  <span class="badge badge-secondary">{{ tag }}</span>
                {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}
            <div class="related-post">
              <div class="post-header">
                <h5 class="post-title">{{ post.title }}</h5>
                <p class="post-metadata">
                  {{ page.date | date: "%B %e, %Y" }}
                </p>
              </div>
              <div class="post-excerpt">
                {{ post.excerpt | truncatewords:32 }}
              </div>

              <a class="post-link" href="{{ post.url }}">
                Read More ->
              </a>
            </div>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}

            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
