---
---

@import "base", "mixins";

html {
  font-size: 62.5%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;

  body {
    min-width: 320px;
    background-color: var(--background-colour);

    h1 {
      @include font-face-default;
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--text-colour);
      margin: 24px 0 12px;

      &.post-title {
        font-size: 2.8rem;
      }

      &.title {
        &.title-name {
          @include font-face-default;
        }
      }
    }

    h2 {
      @include font-face-default;
      font-size: 2.2rem;
      font-weight: 700;
      color: var(--text-colour);
      margin: 24px 0 12px;

      &.group-header {
        margin: 16px 0;
        text-align: left;
      }
    }

    h3 {
      @include font-face-default;
      font-size: 2rem;
      font-weight: 700;
      color: var(--text-colour);
      margin: 24px 0 12px;
    }

    h4 {
      @include font-face-default;
      font-size: 1.8rem;
      font-weight: 500;
      color: var(--text-colour);
      margin: 24px 0 12px;
    }

    h5 {
      @include font-face-default;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--text-colour);
      margin: 24px 0 12px;
    }

    h6 {
      @include font-face-default;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--text-colour);
      margin: 24px 0 12px;

      span {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    div,
    input,
    span,
    textarea {
      @include font-face-default;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--text-colour);
      line-height: 2.4rem;
    }

    span {
      @include font-face-default;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--text-colour);
      line-height: 2.4rem;

      &.button {
        position: relative;
        display: inline-block;
        font-weight: 500;
        color: var(--text-colour);
        padding: 4px 8px;
        min-width: 64px;
        text-align: center;
        border-radius: $border-radius;
        background-color: var(--text-colour);
        @include box-shadow-default;

        &.button-disabled {
          color: var(--link-colour-disabled);
          background-color: var(--foreground-colour);
          cursor: default;

          &:hover {
            color: var(--link-colour-disabled);
            background-color: var(--foreground-colour);
          }
        }

        &:hover {
          color: var(--text-colour-invert);
          background-color: var(--link-colour);
          border-color: var(--link-colour);
        }
      }

      &.badge {
        font-size: 1.2rem;
        margin: 0;
        background-color: var(--background-colour-invert);
        color: var(--text-colour-invert);
        border-radius: $border-radius;
        padding: 4px 8px;
      }
    }

    p {
      @include font-face-default;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--text-colour);
      line-height: 2.4rem;
      margin: 0 0 12px 0;

      &:last-child {
        margin: 0;
      }

      &.experience-header {
        color: var(--text-colour-invert);
        font-weight: 600;
        font-size: 1.6rem;
      }
    }

    a {
      @include font-face-default;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--link-colour);

      &:hover {
        color: var(--link-colour);
        text-decoration: none;
      }

      &.link-icon {
        position: relative;
        display: inline-block;

        &:hover {
          text-decoration: none;
        }
      }

      &.inline-link {
        color: var(--text-colour);
        font-size: 1.4rem;

        &.small {
          font-size: 1.2rem;
        }
      }

      &.button {
        position: relative;
        display: inline-block;
        font-weight: 500;
        color: var(--text-colour);
        padding: 4px 8px;
        min-width: 64px;
        text-align: center;
        background-color: var(--foreground-colour);
        border-radius: $border-radius;
        @include box-shadow-default;

        &.button-disabled {
          color: var(--link-colour-disabled);
          background-color: var(--foreground-colour);
          cursor: default;

          &:hover {
            color: var(--link-colour-disabled);
            background-color: var(--foreground-colour);
          }
        }

        &:hover {
          color: var(--text-colour-invert);
          background-color: var(--link-colour);
          border-color: var(--link-colour);
        }
      }

      &.title-button {
        color: var(--text-colour);

        &:hover {
          color: var(--link-colour) !important;

          .post-title {
            color: var(--link-colour) !important;
          }
        }
      }
    }

    strong {
      a {
        font-weight: bolder;
      }
    }

    i {
      font-size: 2.8rem;
      font-weight: 400;
      color: var(--text-colour);

      &:hover {
        color: var(--link-colour);
      }
    }

    ul {
      li {
        @include font-face-default;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--text-colour);
        margin: 0 0 2px 0;
      }

      &.nav {
        li {
          a {
            @include font-face-default;
            font-size: 1.8rem;
            font-weight: 700;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 92px;
      overflow: hidden;

      .header-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 92px;
        width: 100%;

        .header-title {
          display: flex;
          flex-direction: row;
          align-items: center;

          .title {
            margin: 0;
            padding: 0;
          }
        }

        .header-icons {
          display: flex;
          margin: 0 0 0 16px;

          .link-icon {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: var(--text-colour);
            margin: 0 8px 0 0;
            height: 32px;
            width: 32px;

            &:hover {
              color: var(--link-colour);
            }

            &:last-child {
              margin: 0;
            }
          }
        }

        .header-nav {
          display: flex;
          margin: 4px auto 0 24px;

          .nav {
            list-style: none;

            .nav-item {
              margin: 0 12px 0 0;
              list-style: none;

              &:last-child {
                margin: 0;
              }

              .nav-link {
                color: var(--text-colour);
                padding: 0;

                &:hover {
                  color: var(--link-colour);
                }

                &.selected {
                  color: var(--link-colour);
                }
              }
            }
          }
        }

        .header-menu {
          display: none;

          .link-icon {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: var(--text-colour);
            margin: 0 8px 0 0;
            height: 32px;
            width: 32px;

            &:hover {
              color: var(--link-colour);
            }

            &:last-child {
              margin: 0;
            }

            &.menu-toggle {
              display: none;
            }
          }
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      height: 92px;

      .footer-inner {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 92px;
        width: 100%;

        .footer-copyright {
          text-align: center;
          margin: 0;

          p, a, span {
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: 500;
            margin: 0;
          }
        }

        .footer-menu {
          display: flex;
          margin: 0 0 0 16px;
          position: absolute;
          right: 0;

          .link-icon {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: var(--text-colour);
            margin: 0 8px 0 0;
            height: 32px;
            width: 32px;

            &:hover {
              color: var(--link-colour);
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    .post-wrapper {
      position: relative;

      &:not(:last-child) {
        margin: 0 0 32px 0;
      }

      .post {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        margin: 24px 0;
        min-height: 256px;
        max-height: 360px;

        &:not(.full-spread) {
          border-radius: $border-radius;
        }

        &.full-spread {
          display: block;
          max-height: unset;
          min-height: unset;
          margin: 0;
          background-color: var(--foreground-colour);
          border-radius: $border-radius;
          padding: 32px;
          @include box-shadow-default;

          &:last-child {
            margin: 0;
          }

          .post-header {
            margin: 0 0 16px 0;

            .post-title {
              margin: 0;
            }

            .post-metadata {
              display: flex;
              align-items: center;
              margin: 16px 0 16px 0;

              .post-date {
                font-weight: 600;
                margin: 0;
              }
            }
          }

          .post-body {
            height: unset;
            width: 100% !important;
            box-shadow: none;
            padding: 0;
            overflow: hidden;
            background-color: unset;

            .post-content {
              margin: 0;
            }
          }

          .post-image {
            width: 100%;
            height: 430px;
            margin: 0;
            margin-bottom: 16px;

            .image-wrapper {
              width: 100%;
              height: 430px;

              .image {
                background-size: cover;
                width: 100%;
                height: 430px;
              }
            }
          }
        }
  
        &:first-child {
          margin: 0 0 24px;
        }
  
        &:last-child {
          margin: 24px 0 0;
        }
  
        .post-image {
          height: 360px;
          width: 640px;
          position: relative;
          z-index: 1000;
          border-radius: $border-radius;
          @include box-shadow-default;
  
          .image-wrapper {
            position: relative;
            display: block;
  
            .image {
              height: 360px;
              width: 640px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-color: var(--link-colour-disabled);
              border-radius: $border-radius;
            }
          }
        }
  
        .post-hint {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          align-content: center;
          position: absolute;
          bottom: 16px;
          left: 16px;
          padding: 6px 12px 6px 6px;
          color: white;
          background: rgba(25, 25, 25, .95);
          border-radius: $border-radius;
          pointer-events: none;
  
          i {
            font-size: 2rem;
            color: white;
            margin-right: 4px;
          }
        }
  
        .post-body {
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          height: 350px;
          position: relative;
          z-index: 999;
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          background-color: var(--foreground-colour);
          @include box-shadow-default;
  
          &::-webkit-scrollbar {
            background-color: var(--foreground-colour);
            width: 8px;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
  
          &::-webkit-scrollbar-track {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
  
          &::-webkit-scrollbar-thumb {
            background-color: var(--link-colour-disabled);
            border-radius: $border-radius;
            transition: all .35s ease-in-out;
            -moz-transition: all .35s ease-in-out;
            -webkit-transition: all .35s ease-in-out;
          }
  
          &:hover {
            &::-webkit-scrollbar {
              background-color: var(--foreground-colour);
              width: 8px;
              border-top-right-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
  
            &::-webkit-scrollbar-track {
              background-color: var(--foreground-colour);
              border-top-right-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
  
            &::-webkit-scrollbar-thumb {
              background-color: var(--text-colour);
              border-radius: $border-radius;
              transition: all .35s ease-in-out;
              -moz-transition: all .35s ease-in-out;
              -webkit-transition: all .35s ease-in-out;
            }
          }

          .post-header {
            padding: 24px 24px 0 24px;

            a {
              &:hover {
                .header-title {
                  color: var(--link-colour);
                }
              }
            }

            .header-title {
              font-size: 2.2rem;
              margin: 0;
            }
          }

          .post-metadata {
            padding: 12px 24px 0 24px;

            .post-date {
              font-size: 1.4rem;
              margin: 0;
            }
          }

          .post-excerpt {
            padding: 12px 24px 0 24px;

            &:last-child {
              padding: 12px 24px 12px 24px;
            }
          }

          .post-link {
            padding: 12px 24px 0 24px;

            &:last-child {
              padding: 12px 24px 12px 24px;
            }
          }

          .post-items {
            display: flex;
            flex-direction: column;

            &:last-child {
              padding-bottom: 12px;
            }

            .sub-item {
              padding: 12px 24px 0 24px;
              margin: 0;

              &:last-child {
                padding: 12px 24px 12px 24px;
              }

              .sub-item-content {
                margin: 0;

                i {
                  font-size: 0.6rem;
                  margin: 0 8px 0 0;
                  color: white;
                }

                .item-title {
                  font-weight: 600;
                }
              }

              .sub-item-tags {
                display: flex;
                flex-direction: row;
                margin: 4px 0 0 0;

                .tag, p {
                  font-size: 1.2rem;
                  line-height: 1.6rem;
                  margin: 0;
                  color: #707070;
                }
              }
            }
          }
        }
      }
    }

    .scroll-wrapper {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        background-color: var(--background-colour);
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--link-colour-disabled);
        border-radius: $border-radius;
        transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -webkit-transition: all .35s ease-in-out;
      }

      &:hover {
        &::-webkit-scrollbar {
          background-color: var(--background-colour);
          height: 8px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--background-colour);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--text-colour);
          border-radius: $border-radius;
          transition: all .35s ease-in-out;
          -moz-transition: all .35s ease-in-out;
          -webkit-transition: all .35s ease-in-out;
        }
      }
    }

    .row-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 32px 0;
      }

      .row-header {
        width: 15%;

        .header {
          font-size: 2.8rem;
        }
      }

      .row-content {
        width: 85%;
      }
    }

    .feature-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      padding: 16px;

      &:not(:last-child) {
        margin: 0 0 32px 0;
      }

      .feature-list-wrapper {
        display: table-row;
        height: 100%;

        .feature-list {
          display: flex;
          flex-direction: row;
          height: 100%;

          .feature-item {
            position: relative;
            min-height: 128px;
            width: 300px;
            padding: 16px;
            margin: 0 16px 0 0;
            border-radius: $border-radius;
            background: var(--foreground-colour);
            @include box-shadow-default;

            .item-present {
              position: absolute;
              top: -8px;
              left: -8px;
              background: var(--link-colour);
              padding: 3px 6px;
              border-radius: .25rem;
              @include box-shadow-default;

              .label {
                font-size: 1.2rem;
                line-height: 1.2rem;
                margin: 0;
                color: white;
              }
            }

            .item-header {
              margin: 0 0 8px 0;

              .header-content {
                display: flex;
                flex-direction: row;
                font-size: 1.2rem;
                line-height: 1.2rem;
                margin: 0 0 8px 0;
                color: #707070;

                i {
                  font-size: 0.6rem;
                  margin: 0 8px 0 8px;
                  color: #707070;
                }
              }

              .header-title {
                margin: 0;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.2rem;
              }

              .header-subtitle {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.2rem;
                margin: 8px 0 0 0;
              }
            }

            .item-body {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;

              .body-content, p {
                margin: 0;
                font-size: 1.2rem;
                line-height: 1.8rem;
                overflow: hidden;

                &:last-child {
                  margin: 0;
                }

                a, span {
                  font-size: 1.2rem;
                }
              }

              .body-link {
                display: block;
                margin: 8px 0 0 0;
                font-size: 1.2rem;
                line-height: 1.2rem;
              }
            }
          }
        }
      }
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2000;
      top: 0;
      right: 0;
      background-color: var(--foreground-colour);
      overflow-x: hidden;
      transition: 0.25s;
      @include box-shadow-default;

      &.show {
        width: 256px;
      }

      .sidenav-header {
        display: flex;
        align-items: center;
        height: 90px;

        .menu-toggle {
          padding: 8px 8px 8px 32px;
          color: var(--text-colour);

          &#close {
            position: relative;
            display: inline-block;
            font-size: 36px;
          }

          i {
            color: var(--text-colour);
          }
        }
      }

      .sidenav-nav {
        .nav-item {
          @include font-face-default;
          font-size: 1.8rem;
          font-weight: 700;
          color: var(--text-colour);
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          display: block;
          transition: 0.25s;

          &:hover {
            color: var(--link-colour);
          }

          &.selected {
            color: var(--link-colour);
          }
        }
      }
    }

    .body-content {
      &#main {
        transition: margin-left 0.5s;
      }

      .pagination {
        justify-content: flex-end;

        .page_number {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 12px;
        }

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: unset;
          padding: 0;
          border-radius: 50%;
          width: 42px;
          height: 42px;

          &.button-disabled {
            i {
              color: var(--link-colour-disabled);
            }
          }
        }
      }

      .related-posts {
        .list-title {
          font-weight: 700;
          margin: 0 0 16px 0;
        }

        .related-post {
          background-color: var(--foreground-colour);
          border-radius: $border-radius;
          padding: 16px;
          margin: 0 0 16px 0;
          @include box-shadow-default;

          .post-header {
            margin: 0 0 8px 0;

            .post-title {
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 2.2rem;
              margin: 0;
              color: var(--text-colour);
            }

            .post-metadata {
              font-weight: 600;
              font-size: 1.2rem;
              line-height: 1.2rem;
              margin: 8px 0 0 0;
              color: var(--text-colour);

              span {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.2rem;
              }
            }
          }

          .post-excerpt {
            p {
              margin: 0;
              font-size: 1.2rem;
              line-height: 1.8rem;
              color: var(--text-colour);

              &:empty {
                margin: 0;
              }
            }

            a, span {
              font-size: 1.2rem;
              line-height: 1.8rem;
            }
          }

          .post-link {
            display: block;
            margin: 8px 0 0 0;
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
        }
      }
    }

    .carousel-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--background-colour);
      z-index: 1001;

      &.show {
        display: block;
      }

      .carousel-close-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        z-index: 1002;

        &:hover {
          i {
            color: var(--link-colour);
          }
        }

        i {
          color: var(--text-colour);
        }

        .carousel.close {
          font-size: 1.4rem;
        }
      }

      .post-carousel {
        display: none;
        height: 100%;

        .slick-list,
        .slick-track {
          height: 100%;
          width: 100%;
          position: relative;
        }

        .slick-arrow {
          position: absolute;
          width: 64px;
          height: 64px;
          border: 0;
          background: transparent;
          color: var(--text-colour);

          &:hover {
            i {
              color: var(--link-colour);
            }
          }

          &.slick-prev {
            top: 47.5%;
            left: 0;
            z-index: 1;
          }

          &.slick-next {
            top: 47.5%;
            right: 0;
            z-index: 1;
          }

          i {
            color: var(--text-colour);
          }
        }

        .slick-slide > div {
          height: 100%;
        }

        .image-wrapper {
          display: flex !important;
          justify-content: center;
          align-items: center;
          align-content: center;
          position: relative;
          height: 100%;
          width: 100%;

          .image {
            max-width: 1024px;
            margin-left: 64px;
            margin-right: 64px;
            border-radius: $border-radius;
            @include box-shadow-default;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }

    .container {
      &.header-container {
        margin: 0 auto 32px auto;
      }
    }
  }
}
