---
---

@import "base", "mixins";

html {
  body {
    @media screen and (max-width: 1199px) {
      .post-wrapper {
        .post {
          .post-image {
            width: 540px;

            .image-wrapper {
              width: 540px;

              .image {
                width: 540px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      .post-wrapper {
        .post {
          display: flex;
          flex-direction: column;
          max-height: unset;

          &.full-spread {
            margin: 0 0 32px 0;

            .post-image {
              margin: 0 0 32px 0;
            }

            .related-posts {
              margin: 32px 0 0 0;
            }

            .post-body {
              max-height: unset;
            }
          }

          .post-image {
            width: 100%;
            padding-right: 0;
            margin-right: 0;

            &.post-carousel {
              .slick-arrow {
                &.slick-next {
                  right: 0;
                }
              }
            }

            .image-wrapper {
              width: 100%;

              .image {
                width: 100%;
              }
            }
          }

          .post-body {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            max-height: 350px;
            height: unset;
            width: 100%;
          }
        }
      }

      .row-wrapper {
        flex-direction: column;
        align-items: center;
        align-content: center;

        .row-header {
          width: 100%;

          .header {
            text-align: center;
          }
        }

        .row-content {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 767px) {
      header {
        .header-inner {
          .header-icons {
            display: none;
          }

          .header-nav {
            display: none;
          }

          .header-menu {
            display: flex;
            margin: 0 0 0 auto;

            .link-icon {
              &.menu-toggle {
                display: flex;
              }
            }
          }
        }
      }

      .row-wrapper {
        .row-header {
          width: 25%;
        }

        .row-content {
          width: 75%;
        }
      }

      .post-wrapper {
        .post {
          .post-image {
            height: 256px;

            .image-wrapper {
              height: 256px;

              .image {
                height: 256px;
              }
            }
          }

          .post-body {
            width: 100%;
          }
        }
      }

      .body-content {
        .pagination {
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: 442px) {
      .sidenav {
        &.show {
          width: 100%;
        }

        .sidenav-header {
          justify-content: flex-end;

          .menu-toggle {
            padding: 8px 32px 8px 32px;
            text-align: center;
          }
        }

        .sidenav-nav {
          .nav-item {
            padding: 8px 32px 8px 32px;
            text-align: center;
          }
        }
      }
    }
  }
}
