$border-radius: .5rem;

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, header, footer div, span, h1, h2, h3, h4, h5, h6, p, a, strong, ul, ol, li, img, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  &.theme-light {
    --box-shadow: #{transparentize(#000000, 0.75)};

    --background-colour: #D6D6D6;
    --foreground-colour: #FFFFFF;

    --link-colour: #6610F2;
    --text-colour: #000000;

    --link-colour-disabled: #C2C2C2;
    --text-colour-invert: #FFFFFF;

    ul {
      &.invert {
        color: var(--text-colour-invert);

        li {
          color: var(--text-colour-invert);
          list-style: square outside url('../assets/img/bullet.png');

          p {
            color: var(--text-colour-invert);
          }
        }
      }

      li {
        list-style: square outside url('../assets/img/bullet-w.png');
      }
    }
  }

  &.theme-dark {
    --box-shadow: #{transparentize(#000000, 0.75)};

    --background-colour: #141414;
    --foreground-colour: #000000;

    --link-colour: #FD7E14;
    --text-colour: #FFFFFF;

    --link-colour-disabled: #333333;
    --text-colour-invert: #000000;

    ul {
      &.invert {
        color: var(--text-colour-invert);

        li {
          color: var(--text-colour-invert);
          list-style: square outside url('../assets/img/bullet-w.png');

          p {
            color: var(--text-colour-invert);
          }
        }
      }

      li {
        list-style: square outside url('../assets/img/bullet.png');
      }
    }
  }
}

