@mixin font-face-default() {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}

@mixin box-shadow-default() {
  -webkit-box-shadow: 0 5px 15px 0 var(--box-shadow);
  -moz-box-shadow: 0 5px 15px 0 var(--box-shadow);
  box-shadow: 0 5px 15px 0 var(--box-shadow);
}
