---
title: Blog
layout: default
---

<div class="container">
  <div class="row">
    <div class="col">

      <!-- Blog -->
      <div class="post-wrapper">
        {% for post in site.categories.blog limit:5 %}
          <article class="post" data-file="{{ post.location }}" data-target="article">
            {% if post.image != null %}
              <div class="post-image">
                <a class="image-wrapper" href="{{ post.image | relative_url }}">
                  <div class="image" style="background-image: url('{{ post.image | relative_url }}')"></div>
                </a>

                <div class="post-hint"><i class="ri-cursor-fill"></i> View</div>
              </div>
            {% endif %}

            <div class="post-body">
              <div class="post-header">
                <h3 class="header-title">{{ post.title }}</h3>
              </div>

              <div class="post-metadata">
                <h6 class="post-date">{{ post.date | date: "%B %-d, %Y" }}
                  -
                  <span class="reading-time"></span>,
                  <span class="word-count"></span> words
                </h6>
              </div>

              <div class="post-excerpt">{{ post.excerpt | truncatewords:64 | markdownify }}</div>

              <a class="post-link" href="{{ post.url | relative_url }}">
                Read More ->
              </a>
            </div>
          </article>
        {% endfor %}

        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="button previous"><i class="ri-arrow-left-s-line"></i></a>
          {% else %}
            <span class="button button-disabled previous"><i class="ri-arrow-left-s-line"></i></span>
          {% endif %}

          <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="button next"><i class="ri-arrow-right-s-line"></i></a>
          {% else %}
            <span class="button button-disabled next"><i class="ri-arrow-right-s-line"></i></span>
          {% endif %}
        </div>
      </div>

      <div class="row-wrapper">
        <div class="row-header">
          <h1 class="header">Other Articles.</h1>
        </div>
        <div class="row-content">

          <!-- 'External Posts' Feature -->
          <div class="scroll-wrapper">
            <div class="feature-wrapper">
              <div class="feature-list-wrapper">
                <div class="feature-list">
                  {% for post in site.data.posts %}
                    <div class="feature-item" data-file="{{ post.image }}" data-target="article">
                      <div class="item-header">
                        <p class="header-content">{{ post.date }} <i class="ri-checkbox-blank-circle-fill"></i> {{ post.source }}</p>
                        <h6 class="header-title">{{ post.title }}</h6>
                      </div>

                      <div class="item-body">
                        <p class="body-content">{{ post.excerpt | truncatewords:16 | markdownify }}</p>
                        <a class="body-link" href="{{ post.link | relative_url }}" target="_blank">
                          Read More ->
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
